<form #form="ngForm" (ngSubmit)="eventTest($event)">

  <!-- region Textbox -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="sticky-example">
        <h1>Textbox</h1>
        <ngy-textbox label="Label of textbox"
                     key="textBox"
                     (ngyChange)="eventTest($event)"
                     (ngyFocus)="eventTest($event)"
                     (ngyBlur)="eventTest($event)"
                     (ngyClick)="eventTest($event)"
                     (ngyContextMenu)="eventTest($event)"

                     name="textBox"
                     [(ngModel)]="model1"
                     [required]="true" [minlength]="5" [maxlength]="10"
        >
          <ng-template ngyHelperText>This is helper text</ng-template>

          <ng-template ngyValidatorMessage="required">Required</ng-template>
          <ng-template ngyValidatorMessage="minlength">Min length must be 5</ng-template>
          <ng-template ngyValidatorMessage="maxlength">Max length must be 10</ng-template>
        </ngy-textbox>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.textbox}}</code>
      </pre>
    </div>
  </div>
  <!-- endregion -->

  <!-- region Textarea -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="sticky-example">
        <h1>Textarea</h1>
        <ngy-textarea label="Textarea"
                      key="textArea"
                      [(ngModel)]="model2"
                      name="textArea"
                      (ngyChange)="eventTest($event)"
                      (ngyFocus)="eventTest($event)"
                      (ngyBlur)="eventTest($event)"
                      (ngyClick)="eventTest($event)"
                      (ngyContextMenu)="eventTest($event)"
                      [required]="true" [minlength]="5" [maxlength]="10"
        >
          <ng-template ngyHelperText>This is helper text</ng-template>

          <ng-template ngyValidatorMessage="required">required</ng-template>
          <ng-template ngyValidatorMessage="minlength">min length must be 5</ng-template>
          <ng-template ngyValidatorMessage="maxlength">max length must be 10</ng-template>
        </ngy-textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.textarea}}</code>
      </pre>
    </div>
  </div>
  <!-- endregion -->

  <!-- region Select -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="sticky-example">
        <h1>Select</h1>
        <ngy-select label="Select"
                    key="select"
                    [multiple]="true"
                    (ngyChange)="eventTest($event)"
                    (ngyFocus)="eventTest($event)"
                    (ngyBlur)="eventTest($event)"
                    (ngyClick)="eventTest($event)"
                    (ngyContextMenu)="eventTest($event)"

                    [(ngModel)]="model3"
                    name="select"
                    [required]="true" [minlength]="2" [maxlength]="3"
        >
          <ngy-option [value]="'item1'" label="Item 1"/>
          <ngy-option [value]="'item2'" label="Item 2"/>
          <ngy-option value="item3" label="Item 3"/>
          <ngy-option value="item4" label="Item 4"/>
          <ngy-option value="item5" label="Item 5"/>

          <ng-template ngyHelperText>This is helper text</ng-template>

          <ng-template ngyValidatorMessage="required">required</ng-template>
          <ng-template ngyValidatorMessage="minlength">min length must be 2</ng-template>
          <ng-template ngyValidatorMessage="maxlength">max length must be 3</ng-template>
        </ngy-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.select}}</code>
      </pre>
    </div>
  </div>
  <!-- endregion -->

  <!-- region Switch -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="sticky-example">
        <h1>Switch Input</h1>
        <ngy-switch label="Switch example"
                    key="switch"
                    (ngyChange)="eventTest($event)"
                    (ngyFocus)="eventTest($event)"
                    (ngyBlur)="eventTest($event)"
                    (ngyClick)="eventTest($event)"
                    (ngyContextMenu)="eventTest($event)"

                    ngModel
                    name="switch"
                    [required]="true"
        >
          <ng-template ngyHelperText>This is helper text</ng-template>

          <ng-template ngyValidatorMessage="required">Required</ng-template>
        </ngy-switch>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.switch}}</code>
      </pre>
    </div>
  </div>
  <!-- endregion -->

  <button type="submit" class="mt-4 btn btn-primary">Submit</button>
</form>
<div class="mt-5">
  <h5>Form value</h5>
  <div class="font-monospace border rounded p-2 text-bg-dark">
    <pre>{{form.value | json}}</pre>
  </div>
</div>

<div class="mt-5">
  <h5>Form events</h5>
  <div class="font-monospace border rounded p-2 text-bg-dark"
       style="height: 200px;max-height: 200px;overflow: auto;font-size: 0.7rem">
    <div *ngFor="let e of eventLog"><span class="text-info">&gt;&gt;&gt;</span> Event: <b
      class="text-info">{{e.type}}</b>, Target: <b class="text-warning">{{e.target}}</b>,
      Value:
      <b>{{e.value | json}}</b>
    </div>
  </div>
</div>
