<form #form="ngForm" (ngSubmit)="eventTest($event)">

  <h1>Textbox</h1>
  <div class="row mb-3">
    <div class="col-md-6">
      <ngy-textbox label="Label of textbox"
                   key="textBox"
                   (ngyChange)="eventTest($event)"
                   (ngyFocus)="eventTest($event)"
                   (ngyBlur)="eventTest($event)"
                   (ngyClick)="eventTest($event)"
                   (ngyContextMenu)="eventTest($event)"

                   name="textBox"
                   [(ngModel)]="model1"
                   [required]="true" [minlength]="5" [maxlength]="10"
      >
        <ng-template ngyHelperText>This is helper text</ng-template>

        <ng-template ngyValidatorMessage="required">Required</ng-template>
        <ng-template ngyValidatorMessage="minlength">Min length must be 5</ng-template>
        <ng-template ngyValidatorMessage="maxlength">Max length must be 10</ng-template>
      </ngy-textbox>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.textbox}}</code>
      </pre>
    </div>
  </div>

  <h1>Textarea</h1>
  <div class="row mb-3">
    <div class="col-md-6">
      <ngy-textarea label="Textarea"
                    key="textArea"
                    [(ngModel)]="model2"
                    name="textArea"
                    (ngyChange)="eventTest($event)"
                    (ngyFocus)="eventTest($event)"
                    (ngyBlur)="eventTest($event)"
                    (ngyClick)="eventTest($event)"
                    (ngyContextMenu)="eventTest($event)"
                    [required]="true" [minlength]="5" [maxlength]="10"
      >
        <ng-template ngyHelperText>This is helper text</ng-template>

        <ng-template ngyValidatorMessage="required">Textbox required</ng-template>
        <ng-template ngyValidatorMessage="minlength">Textbox min length must be 5</ng-template>
        <ng-template ngyValidatorMessage="maxlength">Textbox max length must be 10</ng-template>
      </ngy-textarea>
    </div>
    <div class="col-md-6">
      <div class="h6 mb-0 pb-0">Example usage:</div>
      <pre>
        <code class="language-html border">{{codeExamples.textarea}}</code>
      </pre>
    </div>
  </div>

  <button type="submit" class="mt-4 btn btn-primary">Submit</button>
</form>
<div class="mt-5">
  <h5>Form value</h5>
  <pre>{{form.value | json}}</pre>
</div>

<div class="mt-5">
  <h5>Form events</h5>
  <div class="font-monospace border rounded p-2 text-bg-dark"
       style="height: 200px;max-height: 200px;overflow: auto;font-size: 0.7rem">
    <div *ngFor="let e of eventLog"><span class="text-info">&gt;&gt;&gt;</span> Event: <b
      class="text-info">{{e.type}}</b>, Target: <b class="text-warning">{{e.target}}</b>,
      Value:
      <b>{{e.value | json}}</b>
    </div>
  </div>
</div>
