<div class="container mt-5">
  <div
    class="mb-4 py-1 border-bottom d-flex justify-content-start align-items-center gap-2 bg-body position-sticky top-0"
    style="z-index: 999">
    <div class="lead">Dynamic Form</div>

    <div class="flex-fill d-flex justify-content-center gap-2">
      <button class="btn btn-outline-primary border-0" [class.active]="exampleType == 'classic'"
              (click)="setExampleType('classic')">Classic Examples
      </button>
      <button class="btn btn-outline-primary border-0" [class.active]="exampleType == 'imperative'"
              (click)="setExampleType('imperative')">Imperative Examples
      </button>
      <button class="btn btn-outline-primary border-0" [class.active]="exampleType == 'declarative'"
              (click)="setExampleType('declarative')">Declarative Examples
      </button>
    </div>

    <a class="small" target="_blank" href="https://www.npmjs.com/package/@yyasinaslan/dynamic-form">NPM</a>
    <a class="small" target="_blank" href="https://github.com/yyasinaslan/dynamic-form">Github</a>
  </div>
  <ng-container [ngSwitch]="exampleType">
    <app-classic-examples *ngSwitchCase="'classic'"></app-classic-examples>
    <app-imperative-examples *ngSwitchCase="'imperative'"></app-imperative-examples>
    <app-declarative-examples *ngSwitchCase="'declarative'"></app-declarative-examples>
  </ng-container>
</div>
